/*- INDEX PAGE -*/
*{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
}
      body{
        font-family: 'verdana, sans-serif';
}
      nav{
        background: #fde406d7;
        height: 80px;
        width: 100%;
}
      label.logox{
        color: rgb(0, 0, 0);
        font-size: 30px;
        line-height: 50px;
        padding: 0 100px;
        font-weight: bold;
}
      nav ul{
        float: right;
        margin-right: 20px;
}
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
}
      nav ul li a{
        color: rgb(0, 0, 0);
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
}
      a.activex,a:hover{
        background: #1b9bff;
        transition: .5s;
}
      .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
}
      #check{
        display: none;
}
      @media (max-width: 952px){
        label.logox{
          font-size: 30px;
          padding-left: 20px;
}
        nav ul li a{
          font-size: 16px;
}
}
      @media (max-width: 858px){
        .checkbtn{
          display: block;
}
        ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #458fdafd;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
}
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
}
        nav ul li a{
          font-size: 20px;
}
        a:hover,a.activex{
          background: none;
          color: #0082e6;
}
        #check:checked ~ ul{
          left: 0;
}
}

/*- RESTAURANT PAGE -*/

.a1 {
        font-size: 40px;
        font-family: 'Verdana, sans-serif';
        background-color: rgb(170, 119, 28, 0.5);
        border-radius: 20px;
        box-shadow:0 10px 15px 0 rgb(0, 0, 0, 0.6);
}

.wrap1 {
	width: auto;
	margin: auto;
        margin-left: 20%;
	margin-top: 30px;
}

.card1 {
	box-shadow:0 10px 15px 0 rgb(0, 0, 0, 0.6);
	transition: .4s;
	width: 300px;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 70px;
}

.card1:hover {
	box-shadow: 0 8px 20px 0 rgb(0, 0, 0, 0.6);
}

.container1 {
	padding: 2px 16px;
}



/* ABOUT US PAGE */

.wrap {
	width: auto;
        height: auto;
        margin-left: 8%;
	margin-top: 8%;
}

.card {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 300px;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	float: left;
	margin: 10px;
        margin-left: 9.5%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.container {
	padding: 2px 16px;
}
.a1 {
        margin-left: 100px;
        font-size: 40px;
        font-family: 'Verdana, sans-serif';
        margin-top: 120px;
        background-color: rgba(247, 222, 0, 0.877);
        border-radius: 20px;
        padding-left: 37px;
        margin-right: 85%;

}

/* LUZON - VISAYAS - MINDANAO */


.Res {
        font-size: 50px;
        font-family: 'Verdana, sans-serif';
        text-align: center;
        background-color: #ffa147;
        border-radius: 20px;
        margin-top: 80px;
        margin-right: 40%;
        margin-left: 40%;
        padding-left: 5px;
        box-shadow:0 10px 10px 0 rgb(0, 0, 0, 0.6);
}

.wraps {
	width: auto;
	margin: auto;
        margin-left: 10%;
        margin-top: 50px;
}

.cards {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 250px;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 5.5%;
        margin-right: 20px;
        margin-bottom: 80px;
}

.cards:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.containers {
	padding: 2px 16px;
}


/* LR1 */

.LR1 {
        width: 35%;
        height: auto;
        margin-left: 10%;
        margin-top: 10%;
}
.LR1 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 35%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 5.5%;
        margin-right: 20px;
        margin-bottom: 80px;
}

.LR1:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.containers {
	padding: 2px 16px;
}

.sub-pics {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 250px;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 5.5%;
        margin-right: 20px;
        margin-bottom: 80px;
}

.sub-pics:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.containers {
	padding: 2px 16px;
}