                                /*- INDEX PAGE -*/	
#neubar {
        background: #b99c85;
        box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}
 
.nav-item .active {
         border-radius: 6px;
         background: linear-gradient(145deg, #bd9a73, #bd9a73);
         box-shadow:  4px 4px 8px #d8b389,
                   -4px -4px 8px #f7e5cc;
}

#neubar .nav-item {                                    /* OUR NAV-BAR */
          margin : auto 4px;
}
#neubar a {
 
        padding-left:12px;
        padding-right:12px;
}
a.navbar-brand {
        color: #454545;
}

.logo {
        margin: -18px;          /* OUR LOGO */
        margin-right: -20px;
}

.Quote {
	color: #fff;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 5rem;
	text-shadow: 30px 30px 50px #000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-center {                   /* FOOTER */
        padding-top: 15px;
        padding-left: 15px;
        font-size: 15px;
        background: linear-gradient(145deg, #dab894, #f5d7b2);
}

.fb {
        width: 45px;
        transition: 0.4s;
        border-radius: 35px;
        box-shadow:  3px 3px 8px #000000;
}
.fb:hover {
        width: 40px;
}

.insta {
        width: 45px;
        transition: 0.4s;
        margin-left: 30px;
        margin-right: 30px;
        box-shadow:  3px 3px 8px #000000;
        border-radius: 35px;
}
.insta:hover {
        width: 40px;
}

.Code {
	background: #00A9D4;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 200px;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
        justify-content: center;
}
.Code:hover {
	background: #00729D;
}
.QR {
	background: #ceb396;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}
.QR:hover {
	background: #ceb396;
}

                                /*- RESTAURANT PAGE -*/

.ResBody {
        background-image: url(Restaurant-Background.png);
        background-size: auto;
        background-repeat: no-repeat;
}


.a1 {     /* Select */
        font-size: 50px;
        color: rgb(255, 255, 255);
        font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        margin-left: 100px;
        margin-top: 50px;
        padding-left: 37px;
}

.wrap1 {
	width: auto;
	margin: auto;
        margin-left: 6%;
	margin-top: 30px;
        justify-content: center;
}

.card1 {
	box-shadow:0 20px 25px 0 rgb(0, 0, 0, 0.6);
	transition: .4s;
	width: 23%;
	background: #c6a785;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        justify-content: center;
        margin-left: 70px;
}

.card1:hover {
	box-shadow: 0 8px 20px 0 rgb(0, 0, 0, 0.6);
}

.container1 {
	padding: 2px 16px;
}



                                /* ABOUT US PAGE */
.Ab-Body {
        background-image: url(About-BG.png);
        background-repeat: no-repeat;
        background-size: 120%;
}


.wrap {
	width: auto;
        height: auto;
        margin-left: 3.7%;
        margin-right: 100px;
	margin-top: 8%;
        justify-content: center;
}

.card {
	box-shadow:0 30px 25px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 25%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
        justify-content: center;
	float: left;
	margin: 45px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.container {
	padding: 2px 16px;
}

                                /* LUZON - VISAYAS - MINDANAO */
.Luzon-Body {
        background-image: url(LBG.png);
}
.Min-Body {
        background-image: url(MBG.png);
}       
.Vis-Body {
        background-image: url(VBG.png);
}

.ResL {
       width: 25%;
       height: auto;
       font-size: 30px;
       color: #ffffff;
       border-radius: 100px;
       background-color: #d2a679;
       margin-left: 38%;
       text-align: center;
       margin-top: 3%;
       margin-bottom: 4%;
       padding:  2px 6px;
       justify-content: center;
       box-shadow: 0 8px 16px  #000;
       font-family: courier, "times new roman", monospace;
}
.ResM {
        width: 25%;
        height: auto;
        font-size: 30px;
        color: #ffffff;
        border-radius: 100px;
        background-color: #d2a679;
        margin-left: 38%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 4%;
        padding:  2px 6px;
        justify-content: center;
        box-shadow: 0 8px 16px  #000;
        font-family: courier, "times new roman", monospace;
        
 }
 .ResV {
        width: 25%;
        height: auto;
        font-size: 30px;
        color: #ffffff;
        border-radius: 100px;
        background-color: #d2a679;
        margin-left: 38%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 4%;
        padding:  2px 6px;
        justify-content: center;
        box-shadow: 0 8px 16px  #000;
        font-family: courier, "times new roman", monospace;
 }

.wraps {
	width: auto;
	margin: auto;
        margin-left: 5%;
        margin-top: 5px;
        justify-content: center;
}

.cards {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 17%;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
        justify-content: center;
	margin: 10px;
        margin-left: 4.5%;
        margin-right: 20px;
        margin-bottom: 80px;
}

.cards:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.containers {
	padding: 2px 16px;
}


                                /* THIS IS THE RESTAURANTS WE COLLECTED */

.LR-BG {
        background-image: url(LR-BG.jpg);
        background-size: 120%;
}
.MR-BG {
        background-image: url(MR-BG.jpg);
        background-size: 120%;
}
.VR-BG {
        background-image: url(VR-BG.jpg);
        background-size: 120%;
}


.main-pic {
        margin-top: 2%;
}
.LR1 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 45%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 5.5%;
        margin-right: 20px;
        margin-bottom: 80px;
}
.LR1:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}
.containers {
	padding: 2px 16px;
}

/*---------------*/

.sub-pic1 {
        margin-top: 2%;
}
.sub-pics1 {
        width: 35%;
        height: auto;
        margin-left: 5%;
        margin-top: 30%;
}
.sub-pics1 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 20%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 76%;
        margin-right: 20px;
        margin-bottom: 80px;
        position: absolute;
}
.sub-pics1:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}
.containers {
	padding: 2px 16px;
}

/*---------------*/

.sub-pic2 {
        margin-top: 2%;
}
.sub-pics2 {
        width: 35%;
        height: auto;
        margin-left: 10%;
        margin-top: 10%;
}
.sub-pics2 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 20%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 53%;
        margin-right: 20px;
        position: absolute;
}
.sub-pics2:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

/*---------------*/

.sub-pic3 {
        margin-top: 25%;
}
.sub-pics3 {
        width: 35%;
        height: auto;
        margin-left: 10%;
        margin-top: 30%;
}
.sub-pics3 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 20%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 53%;
        margin-right: 20px;
        margin-bottom: 80px;
        position: absolute;
}
.sub-pics3:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

/*---------------*/

.sub-pic4 {
        margin-top: 20%;
}
.sub-pics4 {
        width: 35%;
        height: auto;
        margin-left: 10%;
        margin-top: 10px;
}
.sub-pics4 {
	box-shadow:0 4px 10px 0 rgb(0, 0, 0, 0.6);
	transition: 0.4s;
	width: 20%;
        height: auto;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: 'Verdana, sans-serif';
	float: left;
	margin: 10px;
        margin-left: 76%;
        margin-right: 20px;
        margin-bottom: 80px;
        position: absolute;
}
.sub-pics4:hover {
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
}

.Restaurant-About {
        background-color:  hsla(30, 100%, 70%, 0.6);
        padding-left: 6px;
        position: absolute;
        border-radius: 25px;
        margin-top: 150px;
        margin-left: 70px;
        font-family: courier, "times new roman", monospace;
}

.NameR {
	font-family: courier, "times new roman", monospace;
        text-align: center;
        font-size: 40px;
        color: #262626;
        background-color: hsla(29, 100%, 90%, 0.5);
        border-radius: 50px;
        text-shadow: 5px 20px 16px 0 rgb(255, 255, 255);
        margin-top: 35px;
}
