.container-fluid {
	background-color: rgb(255, 186, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
}



.navbar-brand {
	margin-left: 120px;
	font-size: 35px;

}

.nav-item {
	margin-right: 50px;
	font-size: 25px;
}

.nav-item a {
        text-decoration: none;
        display: block;
        padding: 0px;
        font-size: 22px;
        text-align: center;
        float: center;
        color: black;
        margin-left: 80px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 70px;
        width: 150px;
}

.nav-item a:hover {
        color: #ffa147;
        border-radius: 20px;

}

.con {
        background-color: rgb(255, 186, 0, 0.3);
        margin-top: 620px;
        padding: 30px;
        padding-bottom: 0%;

}

.p {
        margin-top: 0%;
}

.img1 {
        width: 45px;
        height: 45px;
        margin-left: 550px;
        margin-bottom: 3px;
}

.img2 {
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-bottom: 3px;
}

.a1 {
        margin-left: 50px;
        font-size: 40px;
        font-family: 'Verdana, sans-serif';
        margin-top: 150px;
        background-color: rgba(255, 194, 79, 0.7);
        border-radius: 20px;
        padding-left: 10px;
        margin-right: 86%;

}

.Luzon {
        width: 300px;
        height: 300px;
        margin-left: 53px;
        border-radius: 15px;
        margin-top: 10px;
}

.Visayas {
        width: 300px;
        height: 300px;
        margin-left: 80px;
        border-radius: 15px;
        margin-top: 10px;
}

.Mindanao {
        width: 300px;
        height: 300px;
        margin-left: 40px;
        border-radius: 15px;
        margin-top: 10px;
}
