.container-fluid{
	background-color: rgb(251, 255, 178, 0.8);
	display: flex;
	flex-wrap: wrap;
}



.navbar-brand{
	margin-left: 120px;
	font-size: 35px;

}

.nav-item{
	margin-right: 50px;
	font-size: 25px;
        background-color: rgb(251, 255, 178, 0.8);
}

.nav-item a{
        text-decoration: none;
        display: block;
        padding: 0px;
        font-size: 22px;
        text-align: center;
        float: center;
        background-color: rgba(251, 255, 178, 0.596);
        color: black;
        margin-left: 80px;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 70px;
        width: 150px;
}

.nav-item a:hover{
        color: #ffa147;
        border-radius: 20px;

}

.con{
        background-color: rgb(255, 186, 0, 0.5);
        margin-top: 445px;
        padding: 60px;

}
